.footer {
  background-color: #ec4f37;
  height: 58px;
  left: 0;
  position: fixed;
  top: 582px;
  width: 360px;
}

.food-footer {
  height: 40px;
  left: 302px;
  position: fixed;
  top: 593px;
  width: 40px;
}

.drink-footer {
  height: 40px;
  left: 16px;
  position: fixed;
  top: 591px;
  width: 40px;
}


/*
  position: fixed;
  width: 100%;
  height: 58px;
  bottom: 0;
  background: #EC4F37;
  display: flex;
  justify-content: space-between;
  padding: 20px;
*/
