.contener_header {
  align-items: center;
  background-color: #ec4f37;
  display: flex;
  height: 55px;
  justify-content: space-between;
  padding: 20px;
}

.img_header {
  background-color: #ec4f37;
}
